.form{
    display: flex;
    justify-content:space-around;
}
.form_container{
    display: flex;
}
.form-estruct{
    display: flex;
    background-color: rgba(212, 212, 212, 0.301);
    flex-direction: column;
}
.form_containerTemps{
    display: flex;
}
.form_temps{
    display: flex;
}