.search_bar{
    justify-content: center;
    align-content: center;
    display: flex;
    position: absolute;
    top: 91%;
    z-index: 10000;
}
.searchCom{
    justify-content: center;
    align-content: center;
    display: flex;
}
.searchCom input{
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px 20px 0px 0px;
    background-color: rgba(41, 36, 36, 0.966);
    font-size: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}